<app-navbar></app-navbar>
<br>
<h2> List Invalid</h2>

<form [formGroup]="filterForm">
  <div class="row">
    <div class="col-4">
      <label for="dateBl">Date:</label>
      <input type="date" id="dateBl" formControlName="dateBl" (input)="applyFilter()">
    </div>
    <div class="col-4">
      <label for="reference">Reference:</label>
      <input type="text" id="reference" formControlName="reference" (input)="applyFilter()">
    </div>
    <div class="col-4">
      <label for="matriculeFiscale">Matricule Fiscale:</label>
      <input type="text" id="matriculeFiscale" formControlName="matriculeFiscale" (input)="applyFilter()">
    </div>
  </div>
</form>

<div>
  <table>
    <thead>
      <tr>
        <th>Date </th>
        <th>Matricule Fiscale</th>
        <th>Reference</th>
        <th>Mob</th>
        <th>address</th>
        <th>Fixe</th>
        <th>Colis Retour</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bl of pagedBlList">
        <td>{{ bl.dateBl | date}}</td>
        <td>{{ bl.matriculeFiscale }}</td>
        <td>{{ bl.reference }}</td>
        <td>{{ bl.Mob }}</td>
        <td>{{ bl.address }}</td>
        <td>{{ bl.Fixe }}</td>
        <td>{{ bl.colisRetour }}</td>
        <td>
          <svg (click)="generatePdf(bl.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-download" viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
          </svg>
        </td>
    </tr>
  </tbody>
</table>
</div>
<h2 *ngIf="pagedBlList === null">Liste est vide</h2>

<div class="pagination-container">
  <button (click)="changePage(page - 1)" [disabled]="page === 1" class="pagination-button">Previous</button>

  <button *ngFor="let pageNum of getPagesArray()" (click)="changePage(pageNum)" [disabled]="page === pageNum" class="pagination-button" [ngClass]="{ 'active': page === pageNum }">
    {{ pageNum }}
  </button>

  <button (click)="changePage(page + 1)" [disabled]="page === totalPages" class="pagination-button">Next</button>
</div>